.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px,auto);
    gap: 1em;
} 

.element1 {
    grid-column: 1/4;
}

.element2 {
    grid-column: 1/2;
}

.element3 {
    grid-column: 2/4;
}

.grid > div{
    background: #ecf0f1;
    padding: 1em;
}

.grid > div:hover{
    border: 1px solid #f1c40f;
}